<!-- SLIDER CARD -->
<div
  *ngIf="cardType === 'slider'"
  class="custom-slide news-card-anim"
  (click)="onCardClick()"
>
  <img [src]="getImage()" alt="Haber görseli" />

  <div class="custom-slide-gradient"></div>
  <div class="custom-slide-content">
    <div class="custom-slide-title">{{ article.title }}</div>
    <div class="custom-slide-meta">
      <div class="custom-slide-author">
        By {{ article.author || 'Unknown' }}
      </div>
      <div class="custom-slide-time">
        {{ article.publishedAt | date:'mediumDate' }}
      </div>
    </div>
  </div>
</div>

<!-- TEXT-ONLY CARD -->
<div
  *ngIf="cardType === 'text-only'"
  class="text-only-news-card p-3 news-card-anim"
  (click)="onCardClick()"
>
  <div class="text-news-content">
    <div class="headline">{{ article.title }}</div>
    <div class="summary">{{ article.description || article.content }}</div>
  </div>
  <img [src]="getImage()" alt="Haber görseli" />
</div>

<!-- HIGHLIGHTED CARD -->
<div
  *ngIf="cardType === 'highlighted'"
  class="highlighted-news-card"
  (click)="onCardClick()"
>
  <div class="highlighted-news-img-wrapper position-relative">
    <img [src]="getImage()" alt="Haber görseli" />

    <div class="highlighted-news-title">{{ article.title }}</div>
  </div>
  <div class="highlighted-news-content">
    {{ article.description || article.content }}
  </div>
</div>

<!-- SECONDARY CARD -->
<div
  *ngIf="cardType === 'secondary'"
  class="secondary-news-card news-card-anim"
  (click)="onCardClick()"
>
  <img [src]="getImage()" alt="Haber görseli" />

  <div class="secondary-news-content">
    <div class="secondary-news-headline">{{ article.title }}</div>
    <div class="secondary-news-meta">
      <span class="secondary-news-date"
        >{{ article.publishedAt | date:'mediumDate' }}</span
      >
      <span class="secondary-news-source"
        >{{ article.author || 'Unknown' }}</span
      >
    </div>
    <div class="secondary-news-summary">
      {{ article.description || article.content }}
    </div>
  </div>
</div>
